/* 머리말 + 꼬리말 */
#page { width: 100%; margin: 0 auto; } 
 /* 스크롤 스무스하게 */
 html { scroll-behavior: smooth; } 
 /* fab */
 .fab, .fab2 { width: 3rem; height: 3rem; background-color: var(--light-olive); position: fixed;padding-top: 1px; right: 5%; z-index: 999;} 
 .fab a img,  .fab2 a img {  height: 50%; width: 90%;}
 .fab { bottom: 26.5%; } 
 .fab2 { bottom: 20.5%; border-top: 1px solid var(--white);}  
 .fab a, .fab2 a {display: flex; justify-content: center; align-items: center;}

 /* 머리말 */
 .top-menu { width: 100%; height: 1.5rem; background-color: var(--light-olive); text-align: center; color: var(--white); display: flex; justify-content: space-between; align-items: center; padding: 0 3%; font-size: 0.9rem; } 
 .close { width: 0.7rem; height: 0.7rem; vertical-align: middle; } 
 .gnb { width: 100%; height: 5vh; background-color: white; padding: 0 2%; z-index: 999; display: flex; align-items: center;}
 .pc-menu { width: 6.7rem;} 
 /* 메뉴 클릭 시 열림 */
 #shop { padding-left: 1.4rem; }
 #shop:hover{color: var(--gray-3);} 
 #commu:hover{color: var(--gray-3);} 
 #shop, #commu { font-size: 1.4rem; font-weight: 600;} 

 #shop, #commu { position: relative;} 
 #shop-menu { display: none; color: var(--black); background-color: var(--white); position: absolute; top: 4vh; right: 0; z-index: 99; width: 8rem; padding-top: 1rem; text-align: center; font-size: 1.2rem} 
 #commu-menu { display: none; color: var(--black); background-color: var(--white); position: absolute; top: 4vh; left: 0; z-index: 99; width: 8rem; padding-top: 1rem; text-align: center; font-size: 1.2rem} 

 #commu-menu > li { margin: 0 auto; } 
 #shop-menu li, #commu-menu li { margin-bottom: 1rem; } 

 .logo { font-size: 1.2rem; flex-grow: 1;} 
 .menu { width: 7.5rem; flex-grow: 0;} 
 .item { display: inline-block; } .item img { width: 1.1rem; } 
 .menu .pright { padding-right: 0.2rem; } 
 
 .fixed { position: fixed; top: 0; right: 0; width: 100%; } 
 #drop-down #menu > .sale, #shop-menu > .sale { color: red; } 
 #drop-down #menu,  #drop-down #menu2 { display: none; } 
  #drop-down { display: none; position: fixed; top: 0; /* 네비게이션 아래에 배치 */
 left: 0; width: 81%; background-color: white; height: 100vh; z-index: 99999; } 
 #drop-down li {padding: 1rem 0 0 1.5rem; }
 #menu div, #menu2 div {margin-bottom: 1rem;}
 .about-login,  #community { margin-top: 2rem; } 
 
 /* 꼬리말 */
 .olive-hr {margin: 5vh 0 2vh 0;}
footer { font-weight: bold; padding: 5%;} 

 .cs { padding: 0 0 1rem 0; font-size: 1rem; } 
 .cs1 { text-decoration: underline; font-size: 1rem; font-weight: 600; } 
 #cs-info { padding: 0 0 1rem 0; font-size: 0.9rem; } 
 .company-name { font-size: 0.9rem; padding: 1rem 0 2rem 0; color: var(--gray-5); } 
.user-guide { float: right; text-align: right; width: 50%; } 
.about { float: left; width: 50%; } 
.footer-right { font-size: 1rem; }

.home {margin-top: 1rem;}

 .sns img { width: 1.1rem; display: block; } 
 .user-guide .sns {display: inline-block; padding: 0 0.2rem;}
 .sns-set { display: flex; justify-content: space-between; padding-top: 1rem; } 

 
 