/* 머리말 + 꼬리말 */
#page { width: 100%; 
    /* height: 100vh; */
     margin: 0 auto; } 
 /* 스크롤 스무스하게 */
 html { scroll-behavior: smooth; } 
 /* 검색 아이콘 클릭 시 */
.search-input {width: 100%;height: 10rem;background-color: var(--white); position: absolute;left: 0;top: 0; z-index: 9;display: none;}
.s-input{appearance: none; border-left: 0; border-right: 0; border-top: 0; border-bottom: 1px solid var(--gray-3); font-size: 1rem;width: 100%;} 
.pos-input{position: relative;width: 100%;height: 10rem;}
.s-label{width: 50%;transform: translate(-50%,-50%);position: absolute;left: 50%;top: 50%;}
.close2{float: right;padding: 0 5px;cursor: pointer;}
/* .input-wrap{position: relative;} */
.s-img{display: inline-block;width: 1rem;position: absolute;right: -1.5rem;top: 0;}
.s-img > img{max-width: 100%;}
 /* fab */
 .fab-wrapper{width: 3rem;height: 6rem;display: inline;}
 .fab, .fab2 { width: 3rem; height: 3rem; background-color: var(--light-olive); position: fixed; padding-bottom: 1px; right: 5%; z-index: 999; } 
 .fab a img, .fab2 a img { height: 3rem; width: 90%; } 
 .fab { bottom: 26.5%; } 
 .fab2 { bottom: 20.5%; border-top: 1px solid var(--white); } 
 .fab a, .fab2 a { display: flex; justify-content: center; align-items: center; } 
 /* 머리말 */
 .top-menu { width: 100%; height: 1.5rem; background-color: var(--light-olive); text-align: center; color: var(--white); display: flex; justify-content: space-between; align-items: center; padding: 0 3%; font-size: 0.9rem; } 
 .close { width: 0.7rem; height: 0.7rem; vertical-align: middle; } 
 .gnb { width: 100%; height: 5.5vh; background-color: white; padding: 0 2%; z-index: 8; display: flex; align-items: center; } 
 .pc-menu { width: 6.7rem; } 

 /* 메뉴 클릭 시 열림 */
 #shop { padding-left: 1.4rem; } 
 #shop:hover { color: var(--gray-3); } 
 #commu:hover { color: var(--gray-3); } 
 #shop, #commu { font-size: 1.4rem; font-weight: 600; position: relative; } 
 #shop-menu, #commu-menu { display: none; color: var(--black); background-color: var(--white); position: absolute; top: 4vh; z-index: 99; width: 8rem; padding-top: 1rem; text-align: center; font-size: 1.2rem } 
 #shop-menu { right: 0; } 
 #commu-menu { left: 0; } 

 #commu-menu > li { margin: 0 auto; } 
 #shop-menu li, #commu-menu li { margin-bottom: 1rem; } 

 .logo { font-size: 1.2rem; flex-grow: 1; } 
 .menu { width: 7.5rem; flex-grow: 0;display: flex; gap: 0.5rem; } 
 .item img, .item a img { width: 1.1rem; }
 
 .fixed { position: fixed; top: 0; right: 0; width: 100%;} 
 #drop-down #menu > .sale, #shop-menu > .sale, .sale-text > p > .sale
 { color: red; } 
 #drop-down #menu, #drop-down #menu2 { display: none; } 
 #drop-down { display: none; position: fixed; top: 0; /* 네비게이션 아래에 배치 */
 left: 0; width: 81%; background-color: white; height: 100vh; z-index: 999; } 
 #drop-down li { padding: 1rem 0 0 1.5rem; } 
 #menu div, #menu2 div { margin-bottom: 1rem; padding-left: 1rem;} 
 .about-login, #community { margin-top: 2rem; } 
 
 /* 푸터 */
 .olive-hr { margin: 5vh 0 2vh 0; } 
footer { font-weight: bold; padding: 5%; } 

.cs { padding: 0 0 1rem 0; font-size: 1rem; } 
.cs1 { text-decoration: underline; font-size: 1rem; font-weight: 600; } 
#cs-info { padding: 0 0 1rem 0; font-size: 0.9rem; } 
.company-name { font-size: 0.9rem; padding: 1rem 0 2rem 0; color: var(--gray-5); } 
.user-guide { float: right; text-align: right; width: 50%; } 
.about { float: left; width: 50%; } 
.footer-right { font-size: 1rem; } 

.home { margin-top: 1rem; } 

.sns img { width: 1.1rem; display: block; } 
.user-guide .sns { display: inline-block; padding: 0 0.2rem; } 
.sns-set { display: flex; justify-content: space-between; padding-top: 1rem; } 

/* TODO: 태블릿 */
@media screen and (min-width: 768px) {
/* fab */
.fab, .fab2 { right: 5%; } 
.fab2 { bottom: 35.5%; } 
.fab { bottom: 40%; } 
/* 머리말 */
.top-menu { padding: 0 6%; font-size: 1.3rem; height: 2rem; } 
.close { width: 1rem; height: 1rem; } 

.gnb {justify-content: space-between;height: 7vh;}
.pc-menu-wrapper { display: flex; width: 14rem; } 
.logo { font-size: 2rem; flex-grow: 0; } 

.menu {width: 14rem; gap: 0.6rem;} 
.item > img, .item a img { width: 2rem; }

#drop-down li { padding: 1.5rem 0 0 2rem; } 
#drop-down h3 { font-size: 1.7rem; } 
#menu div, #menu2 div { font-size: 1.3rem; } 

/* 푸터 */
.olive-hr { width: 90%; margin: 8rem auto 0 auto; } 
footer { padding-bottom: 2%; } 
.footer-left { float: left; } 
.footer-right { float: right; } 
.home { margin-top: 2rem; } 
.about, .user-guide { text-align: right; float: none; width: auto; } 
.user-guide { margin-top: 2.2rem; } 
 }

/* TODO: pc */
@media screen and (min-width: 1280px) { 
.search-input {width: 60%;height: 10rem;background-color: var(--white); position: absolute;left: 20%;top: 0;z-index: 999999;}
    /* fab */
.fab { bottom: 31.5%; } 
.fab2 { bottom: 25.5%; } 
.fab, .fab2 { right: 16%; } 
/* 머리말 */
.pc-menu-wrapper{width: 12.5rem;}
.fixed { position: fixed; right: 20%; top: 0; width: 60%; } 
#drop-down { left: 20%; width: 40%; } 
#drop-down li { padding: 1rem 0 0 1rem; } 
#drop-down h3 { font-size: 1.2rem; } 
#menu div, #menu2 div { font-size: 1rem;} 
.about-login, #community { margin-top: 1rem; } 
.top-menu { padding: 0 1%; } 
.gnb { padding: 0 1%; } 
#shop { padding-left: 0; } 
.gnb > .menu { padding-right: 0; width: auto; }
/* 푸터 */
footer { padding: 5% 0 2% 0; }
.olive-hr { width: 100%;} 
 }

 