/* 본문 */
.container { overflow: hidden; margin: 0 auto; } 
.product-img { width: 100%; } 
.product-img > img { max-width: 100%; } 
.container3 { margin: 5%; } 

/* 제품명, 가격, 컬러, 사이즈 */
.product-info { font-size: 1.5rem; line-height: 1.5; } 
.item-info, .total, #info, #product-price, #total-price { font-size: 1.2rem; } 
.item-option { width: 50%; float: left; } 
.coupon { width: 23%; float: right; } 
.coupon > img { width: 100%; } 
.total { float: left;} 
#total-price { float: right; } 
.s, .c { display: flex; justify-content: space-between; } 
#info { display: none;} 
.info { display: flex; justify-content: space-between; }
#color{display: flex; align-items: center; }
.color-pick { width: 1.3rem; height: 1.3rem; display: flex; align-items: center; justify-content: center; margin-left: 1.2rem;}
.color-pick > img { width: 1.2rem; height: 1.2rem; }
.color-pick:active { border: 1px solid var(--gray-5); }
.secondary-btn { background-color: var(--white); color: var(--black); border: 1px solid var(--gray-2); padding: 0.1rem 0.7rem; font-size: 1rem; cursor: pointer; border-radius: 0; margin-left: 1.5rem; } 
.secondary-btn:active { border: 1px solid var(--gray-5); } 

.gray4-hr { border: none; /* 기본 선 제거 */
 height: 2px; /* 선의 두께 설정 */
 background-color: var(--gray-4); /* 선의 색상 설정 */
 width: 100%; /* 선의 길이 설정 */
 margin: 1rem 0; /* 위아래 여백 + 가운데 정렬 */ } 

.btn-wrapper { display: flex; width: 100%; margin-top: 0.5rem;} 
.btn-wrapper2 { display: none; /* 초기 상태: 숨김 */ } 
.fixed-bottom { position: fixed; bottom: 0; right: 0; left: 0; width: 90%; margin: 0 auto; } 

input[type="text"] { width: 1rem; height: 1.5rem; background-color: var(--gray-1); border-top: 1px solid var(--gray-1); border-left: 1px solid var(--gray-1); border-right: 1px solid var(--gray-1); border-bottom: 1px solid var(--gray-4); text-align: center; } 
 /* TODO: focus :클릭시 커서가 나타남 */
input[type="text"]:focus { /* TODO; 포커스 시 기존의 외곽선이 사라짐 */
 outline: none; border: 1px solid var(--blue); } 
.number { width: 1rem; height: 1.5rem; margin: 0.2rem; text-align: center; } 

.clear { clear: both; } 

.primary-btn2 { background-color: var(--white); color: var(--black); border: 1px solid var(--gray-5); padding: 1rem 2.4rem; font-size: 1rem; cursor: pointer; border-radius: 0; width: 50%; } 
.primary-btn2:active { background-color: var(--gray-5); color: var(--white); } 
.wishlist { width: 100%; text-align: center; padding: 0.7rem 1.4rem; } 

.gray2-hr { border: none; /* 기본 선 제거 */
 height: 2px; /* 선의 두께 설정 */
 background-color: var(--gray-2); /* 선의 색상 설정 */
 width: 90%; /* 선의 길이 설정 */
 margin: 1.5rem auto 1rem auto; /* 위아래 여백 + 가운데 정렬 */ } 
.gray2-hr2 { border: none; /* 기본 선 제거 */
 height: 2px; /* 선의 두께 설정 */
 background-color: var(--gray-2); /* 선의 색상 설정 */
 width: 100%; /* 선의 길이 설정 */
 margin: 0.5rem 0; /* 위아래 여백 + 가운데 정렬 */ } 

 /* TODO: 상세 목록 */
.detail-list { font-size: 1rem; display: flex; align-items: center; justify-content: center; } 
.detail-list li { display: inline-block; margin: 0 1.5rem; } 
.detail-list a { color: var(--gray-3); } 

.branding_message { width: 100%; margin-top: 1.5rem; } 
.branding_message > img { max-width: 100%; } 
.imgs { width: 100%; margin-top: 1.5rem; } 
.imgs > img { max-width: 100%; } 


/* 스와이퍼 */
html,
body { height: 100%; } 

.swiper { width: 100%; height: 100%; } 

.swiper-slide { font-size: 1rem; background: var(--white); height: 20rem; } 

.swiper-slide img { display: block; width: 100%; height: 80%; object-fit: fill; } 

.recommend { font-weight: 900; margin: 1.5rem 0; } 
.user_guide_bottom { width: 100%; margin-top: 1.5rem; } 
.user_guide_bottom > img { max-width: 100%; } 

.review-wrapper { float: left; } 
.review { float: right; } 
.review-btn { border: 1px solid var(--blue); background-color: var(--white); padding: 0.3rem; border-radius: 5rem; font-weight: bold; } 
.review-btn:active { background-color: var(--blue); color: var(--white); } 
.review-wrapper, .review { margin: 0.5rem 0; } 
.look { margin-right: 0.5rem; } 
.review-content { font-weight: bold; font-size: 0.8rem; } 
.photo_attach { width: 1rem; } 
.photo_attach > img { max-width: 100%; } 
.date-area { margin-left: 5rem; } 
.reviewer { float: left; } 
.see-more { float: right; color: var(--gray-3); } 
.reviewer-wrapper { margin-bottom: 1rem; } 

/* TODO 페이지번호 */
.pageno { text-align: center; margin: 0.7rem 0; } 
.pageno-box li { display: inline-block; text-align: center; } 
.pageno-box a { display: block; width: 1rem; color: var(--gray-3); } 
/* TODO 페이지번호 선택: .active */
.pageno-box .active { color: var(--white); background-color: var(--light-olive); border-radius: 5rem; } 
.qna-box { overflow: hidden; } 
.container2 { margin: 0 5%; } 
.qna_1 > p { line-height: 3; } 
.qna_2 > p { line-height: 3; } 

.question { width: 20%; } 
.question2 { width: 30%; } 
.q1 { float: left; } 
.lock-icon { float: left; } 
.page-btn { border: none; width: 1rem; height: 1rem; border-radius: 50%; background-color: var(--white); } 
.page-btn:active { background-color: var(--light-olive); } 

/* TODO: 태블릿 */
@media screen and (min-width: 768px) { /* 머리말 */
 .fab { bottom: 35%; } 
 .fab2 { bottom: 30.5%; } 
 .top-menu { padding: 0 6%; } 
.product-img { float: left; width: 45%; padding-left: 5%; } 
.product-info { float: right; width: 45%; } 
 
.container3 { margin: 5% auto; width: 90%; } 
.con4 { width: 70%; } 

.gnb { height: 7vh; justify-content: space-between; } 
.menu { padding-right: 1.4rem; width: 14rem; } 
.item > img { width: 2rem; } 
.menu .pright { padding-right: 6px; } 
.pc-menu-wrapper { display: flex; width: 14rem; } 
.logo { font-size: 2rem; flex-grow: 0; } 

.branding-wrapper { width: 80%; margin: 0 auto; overflow: hidden; } 
.gray2-hr2 { width: 72.5%; margin: 0 auto; } 
.container2 { margin: 0 auto; } 
.detail-list li { margin: 0 3rem; } 
.gray2-hr { width: 90%; margin: 0 auto; } 
.pageno { margin: 0.7rem 0 1.5rem 0; } 

/* 푸터 */
hr { width: 90%; margin: 7.2rem auto 1rem auto; } 
.footer-left { width: 51%; float: left; } 
.footer-right { float: left; width: 49%; height: 24vh; } 
.about-guide { width: 50%; height: 24vh; margin-left: 15.5rem; } 
.about, .user-guide { text-align: right; float: none; } 
.home { margin-top: 2rem; } 
.user-guide { margin-top: 2.2rem; } 
 }
 
/* TODO: pc */
@media screen and (min-width: 1280px){
 #page { width: 60%; } 
 .fixed { position: fixed; top: 0; left: 20%; width: 60%; } 
 .product-img { padding-left: 2%; width: 47%; } 
 .product-info { width: 47%; } 
 .top-menu { padding: 0 2.5%; } 
 .gnb { padding: 0 2%; } 
 .fab { bottom: 31.5%; } 
 .fab2 { bottom: 25.5%; } 
 .fab, .fab2 { right: 10%; } 
 .container3 { width: 96%; } 
 .gray2-hr { width: 100%; } 
 /* .branding-wrapper { width: 100%; } */
.branding_message > img { width: 100%; } 
.imgs > img { width: 100%; } 
/* .imgs { display: flex; justify-content: center; } */
 /* .container { width: 60%; } */
 .user_guide_bottom > img { width: 100%; } 
.gray2-hr2 { width: 77%; } 
.con4 { width: 75%; } 
.footer-right { height: 31vh; } 
.about-guide { height: 31vh; margin-left: 21rem; } 
.coupon { padding-left: 1.5rem; } 
 }