$main-color: red;
.swiper-wrapper{color: $main-color;}

nav {
    ul {
        background-color: aqua;width: 30rem;
    }
    li {
        display: inline;padding: 2rem;list-style-type: none;
    }
    & .active2 {
        color: blue;
    }
    &.active{color: red;}
}

%button-base {
    padding: 10px; border-radius: 5px;
}
.btn {
    @extend %button-base;
    background-color: blue;
}